In [70]:
import pandas as pd

In [93]:
df = pd.read_csv('./data/cleaned_hazards.csv')

In [95]:
df.tail()

,Unnamed: 0,county,state,hazards,wildfire,tornado,landslide,hurricane,earthquake,drought,heatwave,avalanche,flood
1170,1170,Monroe County,GA,11,2,2,1,2,1,0,2,0,1
1171,1171,Monroe County,AR,12,1,2,1,1,2,0,2,0,3
1172,1172,Monroe County,FL,12,2,1,1,3,1,0,2,0,2
1173,1173,Monroe County,AL,12,2,2,1,3,1,0,2,0,1
1174,1174,Monroe County,MS,10,1,2,1,2,1,0,2,0,1

In [73]:
parishes = df.loc[df['State'] == 'Louisiana']

parishes['County'] = parishes['County'] + ' Parish'

parishes['State'] = 'LA'

(df.loc[df['State'] == 'Louisiana']) = parishes

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [74]:
df.loc[df['State'] == 'LA'].head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
62,Winn Parish,LA,12,High,None,Low,Low,Low,Low,Low,None,High,None,Low
117,West Feliciana Parish,LA,14,Low,None,Low,Low,High,High,Low,None,High,None,Low
118,West Carroll Parish,LA,13,Low,None,High,Low,Low,Medium,Low,None,High,None,Low
119,West Baton Rouge Parish,LA,15,Low,None,Medium,Low,High,High,Low,None,High,None,Low
128,Webster Parish,LA,12,Medium,None,High,Low,Low,Medium,Low,None,Low,None,Low

In [75]:
df['Volcano'].value_counts()

None      1162
Medium       8
High         3
Low          2
Name: Volcano, dtype: int64

In [76]:
df.replace({
    'None' : 0,
    'Low' : 1,
    'Medium': 2,
    'High': 3
    
}, inplace = True)

df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,South Dakota,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,Texas,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,Texas,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,Colorado,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,Arizona,12,1,0,1,1,1,1,2,1,1,0,3

In [77]:
df.replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}, inplace = True) 
# dictionary was already written out by Roger Allen: https://gist.github.com/rogerallen/1583593

df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,AZ,12,1,0,1,1,1,1,2,1,1,0,3

In [78]:
not_louisiana = df.loc[df['State'] != 'LA']

not_louisiana['County'] = not_louisiana['County'] + ' County'

df.loc[df['State'] != 'LA'] = not_louisiana

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach County,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala County,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata County,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma County,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma County,AZ,12,1,0,1,1,1,1,2,1,1,0,3

The following describe the data and how it was compiled[https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/](https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/) 

Classification

Avalanche hazard was classified by dividing counties based upon the number of avalanches they experienced over the nine year period in the dataset. Avalanche hazard was not normalized by total county area because it caused an over-emphasis on small counties, and because avalanches are a highly local hazard.

None = 0 Avalanches
Low = 1 Avalanche
Medium = 2-5 Avalanches
High = 6-10 Avalanches
Earthquake Hazard

United States Geological Survey. “Earthquake Hazard Maps”. 1:2,000,000. “Peak Ground Acceleration 2% in 50 Years”. < http://earthquake.usgs.gov/hazards/products/conterminous/ >. Downloaded 07/2016.

Classification

Peak ground acceleration (% gravity) with a 2% likelihood in 50 years was averaged by United States County, and the earthquake hazard of counties was classified based upon this average.

Low = 0 - 14.25 % gravity peak ground acceleration
Medium = 14.26 - 47.5 % gravity peak ground acceleration
High = 47.5+ % gravity peak ground acceleration
Flood Hazard

United States Federal Emergency Management Administration. “National Flood Hazard Layer”. 1:10,000. “0.2 Percent Annual Flood Area”. < https://data.femadata.com/FIMA/Risk_MAP/NFHL/ >. Downloaded 07/2016.

Classification

The National Flood Hazard Layer 0.2 Percent Annual Flood Area was spatially intersected with the United States Counties layer, splitting flood areas by county and adding county information to flood areas. Flood area was aggregated by county, expressed as a fraction of the total county land area, and flood hazard was classified based upon percentage of land that is susceptible to flooding. National Flood Hazard Layer does not cover the entire United States; coverage is focused on populated areas. Areas not included in National Flood Hazard Layer were assigned flood risk of Low in order to include these areas in further analysis.

Low = 0-.001% area susceptible
Medium = .00101 % - .005 % area susceptible
High = .00501+ % area susceptible
Heat Wave Hazard

United States Center for Disease Control and Prevention. “National Climate Assessment”. Contiguous United States Counties. “Extreme Heat Events: Heat Wave Days in May - September for years 1981-2010”. Downloaded 06/2016.

Classification

Heat wave was classified by dividing counties based upon the number of heat wave days they experienced over the 30 year time period described in the dataset.

Low = 126 - 171 Heat wave Days
Medium = 172 – 187 Heat wave Days
High = 188 – 255 Heat wave Days

Hurricane Hazard

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Atlantic Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Pacific Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

Classification

Atlantic and Pacific datasets were merged. Tropical storm and disturbance tracks were filtered out leaving hurricane tracks. Each hurricane track was assigned the value of the category number that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as being more hazardous. Values describing each hurricane event were aggregated by United States County, normalized by total county area, and the hurricane hazard of counties was classified based upon the normalized value.

Landslide Hazard

United States Geological Survey. “Landslide Overview Map of the United States”. 1:4,000,000. “Landslide Incidence and Susceptibility in the Conterminous United States”. < https://catalog.data.gov/dataset/landslide-incidence-and-susceptibility-in-the-conterminous-united-states-direct-download >. Downloaded 07/2016.

Classification

The classifications of High, Moderate, and Low landslide susceptibility and incidence from the study were numerically coded, the average value was computed for each county, and the landslide hazard was classified based upon the average value.  

Long-Term Drought Hazard

United States Drought Monitor, Drought Mitigation Center, United States Department of Agriculture, National Oceanic and Atmospheric Administration. “Drought Monitor Summary Map”. “Long-Term Drought Impact”. < http://droughtmonitor.unl.edu/MapsAndData/GISData.aspx >. Downloaded 06/2016.

Classification

Short-term drought areas were filtered from the data; leaving only long-term drought areas. United States Counties were assigned the average U.S. Drought Monitor Classification Scheme Drought Severity Classification value that characterizes the county area. County long-term drought hazard was classified based upon average Drought Severity Classification value.

Low = 1 – 1.75 average Drought Severity Classification value
Medium = 1.76 -3.0 average Drought Severity Classification value
High = 3.0+ average Drought Severity Classification value
Snowfall Hazard

United States National Oceanic and Atmospheric Administration. “1981-2010 U.S. Climate Normals”. 1: 2,000,000. “Annual Snow Normal”. < http://www1.ncdc.noaa.gov/pub/data/normals/1981-2010/products/precipitation/ >. Downloaded 08/2016.

Classification

Average yearly snowfall was joined with point location of weather measurement stations, and stations without valid snowfall measurements were filtered out (leaving 6233 stations). Snowfall was interpolated using least squared distance interpolation to create a .05 degree raster describing an estimate of yearly snowfall for the United States. The average yearly snowfall raster was aggregated by county to yield the average yearly snowfall per United States County. The snowfall risk of counties was classified by average snowfall.

None = 0 inches
Low = .01- 10 inches
Medium = 10.01- 50 inches
High = 50.01+ inches
Tornado Hazard

United States National Oceanic and Atmospheric Administration Storm Prediction Center. “Severe Thunderstorm Database and Storm Data Publication”. 1: 2,000,000. “United States Tornado Touchdown Points 1950-2004”. < https://catalog.data.gov/dataset/united-states-tornado-touchdown-points-1950-2004-direct-download >. Downloaded 07/2016.

Classification

Each tornado touchdown point was assigned the value of the Fujita Scale that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as more hazardous. Values describing each tornado event were aggregated by United States County, normalized by total county area, and the tornado hazard of counties was classified based upon the normalized value.

Volcano Hazard

Smithsonian Institution National Volcanism Program. “Volcanoes of the World”. “Holocene Volcanoes”. < http://volcano.si.edu/search_volcano.cfm >. Downloaded 07/2016.

Classification

Volcano coordinate locations from spreadsheet were mapped and aggregated by United States County. Volcano count was normalized by county area, and the volcano hazard of counties was classified based upon the number of volcanoes present per unit area.

None = 0 volcanoes/100 kilometers
Low = 0.000915 - 0.007611 volcanoes / 100 kilometers
Medium = 0.007612 - 0.018376 volcanoes / 100 kilometers
High = 0.018377- 0.150538 volcanoes / 100 kilometers
Wildfire Hazard

United States Department of Agriculture, Forest Service, Fire, Fuel, and Smoke Science Program. “Classified 2014 Wildfire Hazard Potential”. 270 meters. < http://www.firelab.org/document/classified-2014-whp-gis-data-and-maps >. Downloaded 06/2016.

 Classification

The classifications of Very High, High, Moderate, Low, Very Low, and Non-Burnable/Water wildfire hazard from the study were numerically coded, the average value was computed for each county, and the wildfire hazard was classified based upon the average value.

In [80]:
df.describe()

,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
count,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000
mean,12.053617,1.402553,0.022979,1.667234,1.691064,1.573617,0.781277,1.245106,0.056170,1.931064,0.066383,1.616170
std,2.204151,0.717625,0.226783,0.843296,0.674970,0.726349,1.055039,0.494785,0.306506,0.831357,0.370117,0.805588
min,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,10.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
50%,12.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000
75%,14.000000,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,3.000000,0.000000,2.000000
max,20.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000

In [81]:
df.drop(columns = ['Snowfall'], inplace=True)

In [82]:
df['Hazards'] = df['Wildfire'] + df['Tornado'] + df['Landslide'] + df['Hurricane'] + df['Earthquake'] + df['Drought'] + df['Heatwave'] + df['Avalanche'] + df['Flood']

In [83]:
df.drop(columns=['Volcano'], inplace=True)

In [84]:
df.columns = map(str.lower, df.columns)

In [85]:
df.columns

Index(['county', 'state', 'hazards', 'wildfire', 'tornado', 'landslide',
       'hurricane', 'earthquake', 'drought', 'heatwave', 'avalanche', 'flood'],
      dtype='object')

In [86]:
df.to_csv('./data/cleaned_hazards.csv')

In [87]:
census_df = pd.read_csv('~/downloads/census_final.csv')

In [88]:
census_df

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,40048,12012,9963,42353,19917,22436,88.8,9963,4442,5521
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,6757,2182,1826,6985,3487,3498,99.7,1826,850,976
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,16686,4453,3647,17809,8492,9317,91.1,3647,1640,2007
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,25881,7811,6340,27227,12958,14269,90.8,6340,2916,3424
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,27793,8755,7393,29212,13709,15503,88.4,7393,3235,4158

In [89]:
census_df['state'].value_counts()

TX    254
GA    159
VA    133
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
PR     78
OK     77
AR     75
WI     72
PA     67
AL     67
FL     67
SD     66
LA     64
CO     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
AK     29
UT     29
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
VT     14
MA     14
NH     10
CT      8
RI      5
HI      5
DE      3
DC      1
Name: state, dtype: int64

In [90]:
census_df.loc[census_df['state'] != ('PR' or 'HI' or 'DC' or 'AK')].sort_values(by = 'county')

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
2316,2316,2316,0500000US45001,Abbeville County,SC,81,24657,24112,545,24112,...,18381,6414,5066,19493,9282,10211,90.9,5066,2267,2799
1113,1113,1113,0500000US22001,Acadia Parish,LA,76,62568,61226,1342,61226,...,43895,11000,9003,46022,21944,24078,91.1,9003,3887,5116
2820,2820,2820,0500000US51001,Accomack County,VA,83.5,32742,32426,316,32426,...,24800,8793,7171,25861,12325,13536,91.1,7171,3263,3908
551,551,551,0500000US16001,Ada County,ID,84.1,446052,432682,13370,432682,...,319523,74075,60097,336905,167754,169151,99.2,60097,27458,32639
993,993,993,0500000US21001,Adair County,KY,85.4,19241,19035,206,19035,...,14008,4210,3379,15384,7471,7913,94.4,3379,1556,1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,110,110,0500000US04027,Yuma County,AZ,91.9,207829,202269,5560,202269,...,145311,43293,37429,154558,79777,74781,106.7,37429,17922,19507
307,307,307,0500000US08125,Yuma County,CO,79,10069,9947,122,9947,...,7092,2225,1829,7368,3674,3694,99.5,1829,807,1022
2775,2775,2775,0500000US48505,Zapata County,TX,80.6,14369,14334,35,14334,...,9167,2277,1999,9534,4565,4969,91.9,1999,892,1107
2776,2776,2776,0500000US48507,Zavala County,TX,76.9,12131,12001,130,12001,...,8104,1990,1665,8548,4359,4189,104.1,1665,724,941
2427,2427,2427,0500000US46137,Ziebach County,SD,92.4,2814,2794,20,2794,...,1770,322,252,1914,984,930,105.8,252,121,131

In [62]:
df['state'].value_counts()

TX    86
GA    58
VA    52
MO    47
KS    43
IN    40
MN    39
NC    39
IL    36
MS    35
KY    35
NY    34
TN    34
OH    33
IA    32
CA    32
NE    32
WI    31
LA    31
AR    28
OK    28
MI    25
FL    24
WV    24
ND    24
MT    24
PA    23
CO    22
AL    18
SD    17
WA    16
UT    15
NM    15
OR    12
SC    11
WY    11
ID    10
MD     9
ME     8
NJ     8
VT     6
AZ     6
NV     5
MA     5
CT     4
NH     3
RI     3
DE     2
Name: state, dtype: int64