In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('./data/hazard_risks.csv')

In [23]:
df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,South Dakota,9,Low,None,Low,Medium,Medium,None,Low,None,Low,None,Low
1,Zavala,Texas,9,Low,None,Low,Low,Low,Low,Low,None,Medium,None,Low
2,Zapata,Texas,11,Low,None,Low,Low,Low,Medium,Low,None,High,None,Low
3,Yuma,Colorado,9,Low,None,Medium,Medium,Low,None,Low,None,Low,None,Low
4,Yuma,Arizona,12,Low,None,Low,Low,Low,Low,Medium,Low,Low,None,High

In [25]:
parishes = df.loc[df['State'] == 'Louisiana']

In [26]:
parishes['County'] = parishes['County'] + ' Parish'

parishes['State'] = 'LA'

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
(df.loc[df['State'] == 'Louisiana']) = parishes

In [41]:
df.loc[df['State'] == 'LA'].head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
62,Winn Parish,LA,12,High,None,Low,Low,Low,Low,Low,None,High,None,Low
117,West Feliciana Parish,LA,14,Low,None,Low,Low,High,High,Low,None,High,None,Low
118,West Carroll Parish,LA,13,Low,None,High,Low,Low,Medium,Low,None,High,None,Low
119,West Baton Rouge Parish,LA,15,Low,None,Medium,Low,High,High,Low,None,High,None,Low
128,Webster Parish,LA,12,Medium,None,High,Low,Low,Medium,Low,None,Low,None,Low

In [42]:
df['Volcano'].value_counts()

None      1162
Medium       8
High         3
Low          2
Name: Volcano, dtype: int64

In [45]:
df.replace({
    'None' : 0,
    'Low' : 1,
    'Medium': 2,
    'High': 3
    
}, inplace = True)

df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,South Dakota,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,Texas,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,Texas,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,Colorado,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,Arizona,12,1,0,1,1,1,1,2,1,1,0,3

In [46]:
df.replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}, inplace = True) 
# dictionary was already written out by Roger Allen: https://gist.github.com/rogerallen/1583593

df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,AZ,12,1,0,1,1,1,1,2,1,1,0,3

In [49]:
not_louisiana = df.loc[df['County'] != 'LA']

In [51]:
not_louisiana['County'] = not_louisiana['County'] + ' County'

In [52]:
df.loc[df['County'] != 'LA'] = not_louisiana

In [53]:
df.head()

,County,State,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach County,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala County,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata County,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma County,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma County,AZ,12,1,0,1,1,1,1,2,1,1,0,3

The following describe the data and how it was compiled[https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/](https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/) 

Classification

Avalanche hazard was classified by dividing counties based upon the number of avalanches they experienced over the nine year period in the dataset. Avalanche hazard was not normalized by total county area because it caused an over-emphasis on small counties, and because avalanches are a highly local hazard.

None = 0 Avalanches
Low = 1 Avalanche
Medium = 2-5 Avalanches
High = 6-10 Avalanches
Earthquake Hazard

United States Geological Survey. “Earthquake Hazard Maps”. 1:2,000,000. “Peak Ground Acceleration 2% in 50 Years”. < http://earthquake.usgs.gov/hazards/products/conterminous/ >. Downloaded 07/2016.

Classification

Peak ground acceleration (% gravity) with a 2% likelihood in 50 years was averaged by United States County, and the earthquake hazard of counties was classified based upon this average.

Low = 0 - 14.25 % gravity peak ground acceleration
Medium = 14.26 - 47.5 % gravity peak ground acceleration
High = 47.5+ % gravity peak ground acceleration
Flood Hazard

United States Federal Emergency Management Administration. “National Flood Hazard Layer”. 1:10,000. “0.2 Percent Annual Flood Area”. < https://data.femadata.com/FIMA/Risk_MAP/NFHL/ >. Downloaded 07/2016.

Classification

The National Flood Hazard Layer 0.2 Percent Annual Flood Area was spatially intersected with the United States Counties layer, splitting flood areas by county and adding county information to flood areas. Flood area was aggregated by county, expressed as a fraction of the total county land area, and flood hazard was classified based upon percentage of land that is susceptible to flooding. National Flood Hazard Layer does not cover the entire United States; coverage is focused on populated areas. Areas not included in National Flood Hazard Layer were assigned flood risk of Low in order to include these areas in further analysis.

Low = 0-.001% area susceptible
Medium = .00101 % - .005 % area susceptible
High = .00501+ % area susceptible
Heat Wave Hazard

United States Center for Disease Control and Prevention. “National Climate Assessment”. Contiguous United States Counties. “Extreme Heat Events: Heat Wave Days in May - September for years 1981-2010”. Downloaded 06/2016.

Classification

Heat wave was classified by dividing counties based upon the number of heat wave days they experienced over the 30 year time period described in the dataset.

Low = 126 - 171 Heat wave Days
Medium = 172 – 187 Heat wave Days
High = 188 – 255 Heat wave Days

Hurricane Hazard

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Atlantic Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Pacific Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

Classification

Atlantic and Pacific datasets were merged. Tropical storm and disturbance tracks were filtered out leaving hurricane tracks. Each hurricane track was assigned the value of the category number that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as being more hazardous. Values describing each hurricane event were aggregated by United States County, normalized by total county area, and the hurricane hazard of counties was classified based upon the normalized value.

Landslide Hazard

United States Geological Survey. “Landslide Overview Map of the United States”. 1:4,000,000. “Landslide Incidence and Susceptibility in the Conterminous United States”. < https://catalog.data.gov/dataset/landslide-incidence-and-susceptibility-in-the-conterminous-united-states-direct-download >. Downloaded 07/2016.

Classification

The classifications of High, Moderate, and Low landslide susceptibility and incidence from the study were numerically coded, the average value was computed for each county, and the landslide hazard was classified based upon the average value.  

Long-Term Drought Hazard

United States Drought Monitor, Drought Mitigation Center, United States Department of Agriculture, National Oceanic and Atmospheric Administration. “Drought Monitor Summary Map”. “Long-Term Drought Impact”. < http://droughtmonitor.unl.edu/MapsAndData/GISData.aspx >. Downloaded 06/2016.

Classification

Short-term drought areas were filtered from the data; leaving only long-term drought areas. United States Counties were assigned the average U.S. Drought Monitor Classification Scheme Drought Severity Classification value that characterizes the county area. County long-term drought hazard was classified based upon average Drought Severity Classification value.

Low = 1 – 1.75 average Drought Severity Classification value
Medium = 1.76 -3.0 average Drought Severity Classification value
High = 3.0+ average Drought Severity Classification value
Snowfall Hazard

United States National Oceanic and Atmospheric Administration. “1981-2010 U.S. Climate Normals”. 1: 2,000,000. “Annual Snow Normal”. < http://www1.ncdc.noaa.gov/pub/data/normals/1981-2010/products/precipitation/ >. Downloaded 08/2016.

Classification

Average yearly snowfall was joined with point location of weather measurement stations, and stations without valid snowfall measurements were filtered out (leaving 6233 stations). Snowfall was interpolated using least squared distance interpolation to create a .05 degree raster describing an estimate of yearly snowfall for the United States. The average yearly snowfall raster was aggregated by county to yield the average yearly snowfall per United States County. The snowfall risk of counties was classified by average snowfall.

None = 0 inches
Low = .01- 10 inches
Medium = 10.01- 50 inches
High = 50.01+ inches
Tornado Hazard

United States National Oceanic and Atmospheric Administration Storm Prediction Center. “Severe Thunderstorm Database and Storm Data Publication”. 1: 2,000,000. “United States Tornado Touchdown Points 1950-2004”. < https://catalog.data.gov/dataset/united-states-tornado-touchdown-points-1950-2004-direct-download >. Downloaded 07/2016.

Classification

Each tornado touchdown point was assigned the value of the Fujita Scale that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as more hazardous. Values describing each tornado event were aggregated by United States County, normalized by total county area, and the tornado hazard of counties was classified based upon the normalized value.

Volcano Hazard

Smithsonian Institution National Volcanism Program. “Volcanoes of the World”. “Holocene Volcanoes”. < http://volcano.si.edu/search_volcano.cfm >. Downloaded 07/2016.

Classification

Volcano coordinate locations from spreadsheet were mapped and aggregated by United States County. Volcano count was normalized by county area, and the volcano hazard of counties was classified based upon the number of volcanoes present per unit area.

None = 0 volcanoes/100 kilometers
Low = 0.000915 - 0.007611 volcanoes / 100 kilometers
Medium = 0.007612 - 0.018376 volcanoes / 100 kilometers
High = 0.018377- 0.150538 volcanoes / 100 kilometers
Wildfire Hazard

United States Department of Agriculture, Forest Service, Fire, Fuel, and Smoke Science Program. “Classified 2014 Wildfire Hazard Potential”. 270 meters. < http://www.firelab.org/document/classified-2014-whp-gis-data-and-maps >. Downloaded 06/2016.

 Classification

The classifications of Very High, High, Moderate, Low, Very Low, and Non-Burnable/Water wildfire hazard from the study were numerically coded, the average value was computed for each county, and the wildfire hazard was classified based upon the average value.

In [55]:
df.describe()

,Hazards,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
count,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000
mean,12.053617,1.402553,0.022979,1.667234,1.691064,1.573617,0.781277,1.245106,0.056170,1.931064,0.066383,1.616170
std,2.204151,0.717625,0.226783,0.843296,0.674970,0.726349,1.055039,0.494785,0.306506,0.831357,0.370117,0.805588
min,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,10.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
50%,12.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000
75%,14.000000,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,3.000000,0.000000,2.000000
max,20.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000