In [287]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [324]:
df = pd.read_csv('~/downloads/full.csv')

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (351) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [334]:
df.sort_values(by = 'hazard score', ascending= False)

,Unnamed: 0,Unnamed: 0_x,county_x,state,hazard score,wildfire,tornado,landslide,hurricane,earthquake,...,"skilled nurs care, beds set up_y","nurse practitioners, fmle w/npi_y","clin nurs specialist,male w/npi",# nursing facilities,"cert nurse midwvs,ft oth emptyp_y",nursing facilities total beds,nurse practitioners_y,"advpractnurs midwve,male w/npi",st_num,countyfips
175,175,175,los angeles county,CA,19,3,1,2,0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,6037
382,382,382,chatham county,GA,18,3,3,1,3,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,13051
1131,1131,1131,tangipahoa parish,LA,18,3,3,2,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22,22105
48,48,48,mobile county,AL,18,3,3,2,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1097
306,306,306,escambia county,FL,17,3,3,1,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,12033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,1322,1322,mahnomen county,MN,6,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,27087
1324,1324,1324,martin county,MN,6,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,27091
2972,2972,2972,door county,WI,6,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55,55029
1326,1326,1326,meeker county,MN,6,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,27093
646,646,646,lewis county,ID,5,1,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16,16061

In [333]:
df[df.columns].dtypes.value_counts()

float64    743
int64      110
object       5
dtype: int64

In [293]:
df['wildfire'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['tornado'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['landslide'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['hurricane'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['earthquake'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['drought'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['heatwave'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['avalanche'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)
df['flood'].replace({
    'None' : 0,
    'Low' : 1,
    'low' : 1,
    'Medium': 2,
    'High' : 3
}, inplace = True)

In [302]:
df['hazard score'] = df['wildfire'] + df['tornado'] + df['landslide'] + df['hurricane'] + df['earthquake'] + df['drought'] + df['heatwave'] + df['avalanche'] + df['flood']

In [303]:
df['hazard score']

0       12
1       17
2        9
3       13
4       12
        ..
3103    10
3104    13
3105    11
3106     9
3107     7
Name: hazard score, Length: 3108, dtype: int64

In [335]:
df[df.columns[4:11]]

,hazard score,wildfire,tornado,landslide,hurricane,earthquake,drought
0,12,2,2,1,2,1,0
1,17,3,3,1,3,1,0
2,9,2,1,1,2,1,0
3,13,2,2,2,1,2,0
4,12,1,3,3,1,1,0
...,...,...,...,...,...,...,...
3103,10,1,1,2,0,2,0
3104,13,2,1,2,0,2,0
3105,11,2,1,2,0,2,0
3106,9,2,1,1,0,2,0
3107,7,1,1,2,0,1,0

In [306]:
df.to_csv('./updated_hazard_scores.csv')

In [358]:
df['total inpatient, beds set up_y'].value_counts()

0.0    3108
Name: total inpatient, beds set up_y, dtype: int64