In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [340]:
# merged = pd.read_csv('merged_census_and_hazards_df.csv')
# hazzard = pd.read_csv('hazard_risks.csv')
# census = pd.read_csv('census_final.csv')
health = pd.read_csv('health_resources.csv')

C:\Users\weisj\anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (248) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [166]:
census = census.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])
census.head()

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,42437,10565,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,179526,19764,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,12216,12266,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,17268,5018,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,55054,862,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [167]:
census.shape

(3220, 92)

In [168]:
census 

census = census.drop(census[census['state'] == 'AK'].index)
census = census.drop(census[census['state'] == 'HI'].index)
census = census.drop(census[census['state'] == 'PR'].index)

In [169]:
census.head()

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,42437,10565,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,179526,19764,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,12216,12266,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,17268,5018,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,55054,862,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [170]:
hazzard.sort_values(by = ['State', 'County'], inplace = True)
hazzard.head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
3001,Autauga,Alabama,13,Medium,None,Medium,Low,Low,Medium,Low,None,Low,None,High
2992,Baldwin,Alabama,18,High,None,High,Low,Low,High,Low,None,High,None,High
2980,Barbour,Alabama,10,Medium,None,Low,Low,Low,Medium,Low,None,Low,None,Low
2909,Bibb,Alabama,14,Medium,None,Medium,Low,Medium,Low,Medium,None,High,None,Low
2890,Blount,Alabama,13,Low,None,High,Low,High,Low,Low,None,Medium,None,Low

In [171]:
# hazzard.reset_index(drop= True, inplace = True)
# hazzard.head()

In [175]:
census.head()

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,42437,10565,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,179526,19764,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,12216,12266,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,17268,5018,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,55054,862,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [172]:
hazzard.head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
3001,Autauga,Alabama,13,Medium,None,Medium,Low,Low,Medium,Low,None,Low,None,High
2992,Baldwin,Alabama,18,High,None,High,Low,Low,High,Low,None,High,None,High
2980,Barbour,Alabama,10,Medium,None,Low,Low,Low,Medium,Low,None,Low,None,Low
2909,Bibb,Alabama,14,Medium,None,Medium,Low,Medium,Low,Medium,None,High,None,Low
2890,Blount,Alabama,13,Low,None,High,Low,High,Low,Low,None,Medium,None,Low

In [342]:
health.head()
health = health.drop(columns = ['Unnamed: 0'])
health.head()

,County,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,"Colon/Rectal Srg, Total Ptn Cr","Ophthalmolgy, Total Patn Care","M.D.'s, Total Other_x",...,Clinical Nurse Specialist w/NPI_y,Nurse Practitioners w/NPI_y,"Skilled Nurs Care, Beds Set Up_y","Nurse Practitioners, Fmle w/NPI_y","Clin Nurs Specialist,Male w/NPI",# Nursing Facilities,"Cert Nurse Midwvs,FT Oth EmpTyp_y",Nursing Facilities Total Beds,Nurse Practitioners_y,"AdvPractNurs Midwve,Male w/NPI"
0,Autauga County,67,1001,0.0,0.0,85.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Baldwin County,208,1003,0.0,0.0,538.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barbour County,53,1005,0.0,0.0,146.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bibb County,44,1007,0.0,0.0,1329.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Blount County,44,1009,0.0,0.0,511.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [337]:
print(f'census shape {census.shape}')
print(f'hazzard shape {hazzard.shape}')
print(f'health shape {health.shape}')

health shape (3110,)

In [245]:
census.sort_values(by = ['state', 'county'], inplace = True)

census.reset_index(drop= True, inplace = True)

In [246]:
census[64:69]

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
64,0500000US01129,Washington County,AL,83.9,16643,16383,260,16383,11003,4086,...,12233,4058,3038,12940,6464,6476,99.8,3038,1386,1652
65,0500000US01131,Wilcox County,AL,76.3,10809,10493,316,10493,2903,7511,...,7652,2506,1985,8167,3807,4360,87.3,1985,859,1126
66,0500000US01133,Winston County,AL,82.3,23875,23385,490,23385,23001,90,...,17985,6059,5027,18883,9295,9588,96.9,5027,2269,2758
67,0500000US05001,Arkansas County,AR,79.6,18124,17917,207,17917,13146,4677,...,13294,4277,3342,13948,6595,7353,89.7,3342,1481,1861
68,0500000US05003,Ashley County,AR,82.9,20537,20412,125,20412,14737,5273,...,14973,4693,3980,15756,7487,8269,90.5,3980,1804,2176

In [200]:
hazzard.reset_index(drop= True, inplace = True)
hazzard[3107:3110]

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
3107,Washakie,Wyoming,11,Medium,None,Low,Medium,Low,None,Medium,None,Low,Low,Low
3108,Weston,Wyoming,9,Low,None,Low,Medium,Medium,None,Low,None,Low,None,Low

In [205]:
census[64:70]

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
64,0500000US01129,Washington County,AL,83.9,16643,16383,260,16383,11003,4086,...,12233,4058,3038,12940,6464,6476,99.8,3038,1386,1652
65,0500000US01131,Wilcox County,AL,76.3,10809,10493,316,10493,2903,7511,...,7652,2506,1985,8167,3807,4360,87.3,1985,859,1126
66,0500000US01133,Winston County,AL,82.3,23875,23385,490,23385,23001,90,...,17985,6059,5027,18883,9295,9588,96.9,5027,2269,2758
67,0500000US04001,Apache County,AZ,83.9,71522,70384,1138,70384,16362,513,...,48225,13001,10420,51691,25558,26133,97.8,10420,4755,5665
68,0500000US04003,Cochise County,AZ,92.3,126279,120541,5738,120541,107243,4734,...,93396,32326,26550,98483,50065,48418,103.4,26550,12744,13806
69,0500000US04005,Coconino County,AZ,91.2,140217,135709,4508,135709,89502,1869,...,94962,21055,16259,110570,53886,56684,95.1,16259,7754,8505

In [206]:
hazzard[64:70]

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
64,Washington,Alabama,13,High,None,Medium,Low,Medium,Medium,Low,None,Low,None,Low
65,Wilcox,Alabama,12,Medium,None,Low,Low,Low,Medium,Low,None,High,None,Low
66,Winston,Alabama,12,Low,None,Medium,Low,Medium,Low,Low,None,High,None,Low
67,Apache,Arizona,13,Medium,None,Low,Medium,Medium,None,Low,Low,High,None,Low
68,Cochise,Arizona,14,Medium,None,Low,Low,Low,Low,Low,Low,High,None,High
69,Coconino,Arizona,13,Medium,Low,Low,Medium,Low,None,Low,Low,High,None,Low

In [208]:
for i in range(3108):
    missings = []
    if hazzard['County'][i] != census['county'][i]:
        missing = hazzard['County'][i]
        missings.append(missing)

In [256]:
census['state'].value_counts()

TX    254
GA    159
VA    133
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
OK     77
AR     75
WI     72
FL     67
PA     67
AL     67
SD     66
LA     64
CO     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
UT     29
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
MA     14
VT     14
NH     10
CT      8
RI      5
DE      3
DC      1
Name: state, dtype: int64

,County,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,"Colon/Rectal Srg, Total Ptn Cr","Ophthalmolgy, Total Patn Care","M.D.'s, Total Other_x",...,Clinical Nurse Specialist w/NPI_y,Nurse Practitioners w/NPI_y,"Skilled Nurs Care, Beds Set Up_y","Nurse Practitioners, Fmle w/NPI_y","Clin Nurs Specialist,Male w/NPI",# Nursing Facilities,"Cert Nurse Midwvs,FT Oth EmpTyp_y",Nursing Facilities Total Beds,Nurse Practitioners_y,"AdvPractNurs Midwve,Male w/NPI"
0,Autauga County,67,1001,0.0,0.0,85.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Baldwin County,208,1003,0.0,0.0,538.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barbour County,53,1005,0.0,0.0,146.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bibb County,44,1007,0.0,0.0,1329.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Blount County,44,1009,0.0,0.0,511.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [343]:
health.head()

,County,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,"Colon/Rectal Srg, Total Ptn Cr","Ophthalmolgy, Total Patn Care","M.D.'s, Total Other_x",...,Clinical Nurse Specialist w/NPI_y,Nurse Practitioners w/NPI_y,"Skilled Nurs Care, Beds Set Up_y","Nurse Practitioners, Fmle w/NPI_y","Clin Nurs Specialist,Male w/NPI",# Nursing Facilities,"Cert Nurse Midwvs,FT Oth EmpTyp_y",Nursing Facilities Total Beds,Nurse Practitioners_y,"AdvPractNurs Midwve,Male w/NPI"
0,Autauga County,67,1001,0.0,0.0,85.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Baldwin County,208,1003,0.0,0.0,538.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barbour County,53,1005,0.0,0.0,146.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bibb County,44,1007,0.0,0.0,1329.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Blount County,44,1009,0.0,0.0,511.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [344]:
health['st_num'] = health['countyFIPS'].astype(str)

In [349]:
health['st_num'] = health['st_num'].str.slice(-5,-3)

In [372]:
health[health['st_num'] == '']

,County,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,"Colon/Rectal Srg, Total Ptn Cr","Ophthalmolgy, Total Patn Care","M.D.'s, Total Other_x",...,Nurse Practitioners w/NPI_y,"Skilled Nurs Care, Beds Set Up_y","Nurse Practitioners, Fmle w/NPI_y","Clin Nurs Specialist,Male w/NPI",# Nursing Facilities,"Cert Nurse Midwvs,FT Oth EmpTyp_y",Nursing Facilities Total Beds,Nurse Practitioners_y,"AdvPractNurs Midwve,Male w/NPI",st_num
1794,New York City Unallocated/Probable,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,

In [352]:
VAHZ['County'][100:134]

2886      Prince George
2887     Prince William
2888            Pulaski
2889            Radford
2890       Rappahannock
2891      Richmond City
2892    Richmond County
2893       Roanoke City
2894     Roanoke County
2895         Rockbridge
2896         Rockingham
2897            Russell
2898              Salem
2899              Scott
2900         Shenandoah
2901              Smyth
2902        Southampton
2903       Spotsylvania
2904           Stafford
2905           Staunton
2906            Suffolk
2907              Surry
2908             Sussex
2909           Tazewell
2910     Virginia Beach
2911             Warren
2912         Washington
2913         Waynesboro
2914       Westmoreland
2915       Williamsburg
2916         Winchester
2917               Wise
2918              Wythe
2919               York
Name: County, dtype: object

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
2772,0500000US51001,Accomack County,VA,83.5,32742,32426,316,32426,22372,9574,...,24800,8793,7171,25861,12325,13536,91.1,7171,3263,3908
2773,0500000US51003,Albemarle County,VA,78.1,106355,104110,2245,104110,86739,10375,...,77100,22535,18447,84621,39876,44745,89.1,18447,8087,10360
2774,0500000US51510,Alexandria city,VA,75.2,156505,148371,8134,148371,97091,34246,...,124888,21368,16943,127842,60719,67123,90.5,16943,7273,9670
2775,0500000US51005,Alleghany County,VA,80.7,15286,14997,289,14997,14065,823,...,11836,4377,3561,12347,5984,6363,94.0,3561,1590,1971
2776,0500000US51007,Amelia County,VA,82.5,12854,12506,348,12506,9738,2737,...,9521,2883,2425,10077,4917,5160,95.3,2425,1096,1329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,0500000US51830,Williamsburg city,VA,80.4,14788,14203,585,14203,11022,2077,...,9446,2653,2195,13171,5798,7373,78.6,2195,978,1217
2901,0500000US51840,Winchester city,VA,77.1,27789,26483,1306,26483,22353,2787,...,20005,5335,4341,21421,10294,11127,92.5,4341,1890,2451
2902,0500000US51195,Wise County,VA,83.7,39025,38499,526,38499,35998,2227,...,29625,8284,6583,31270,16486,14784,111.5,6583,2999,3584
2903,0500000US51197,Wythe County,VA,81.8,28940,28603,337,28603,27439,928,...,22410,7192,5907,23140,11215,11925,94.0,5907,2657,3250
2904,0500000US51199,York County,VA,82.7,67587,64638,2949,64638,51011,8794,...,48818,12392,10313,51323,25134,26189,96.0,10313,4667,5646

In [285]:
VAHZ

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
2786,Accomack,Virginia,12,Low,None,Low,Low,Low,High,Low,None,Low,None,High
2787,Albemarle,Virginia,14,Low,None,Low,Medium,High,Medium,Low,None,Medium,None,Medium
2788,Alexandria,Virginia,17,Low,None,Medium,Medium,Medium,High,Low,None,High,None,High
2789,Alleghany,Virginia,11,Low,None,None,Medium,High,None,Low,None,Medium,None,Medium
2790,Amelia,Virginia,13,Medium,None,Low,Medium,Low,Medium,Medium,None,Medium,None,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,Williamsburg,Virginia,9,Low,None,None,Low,Low,High,Low,None,Low,None,Low
2916,Winchester,Virginia,14,Low,None,High,Medium,Medium,None,Low,None,Medium,None,High
2917,Wise,Virginia,13,Low,None,Low,Medium,High,None,Low,None,High,None,Medium
2918,Wythe,Virginia,12,Low,None,None,Medium,High,None,Low,None,High,None,Medium
2919,York,Virginia,14,Low,None,High,Low,Low,High,Low,None,Low,None,High

In [364]:
# hazzard.drop(hazzard.index[2796], inplace = True)
hazzard.reset_index(drop= True, inplace = True)
hazzard[2790:2800]

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
2790,Amelia,Virginia,13,Medium,None,Low,Medium,Low,Medium,Medium,None,Medium,None,Low
2791,Amherst,Virginia,14,Low,None,Low,Medium,High,Medium,Low,None,Medium,None,Medium
2792,Appomattox,Virginia,14,Low,None,Low,Medium,High,Medium,Low,None,Medium,None,Medium
2793,Arlington,Virginia,14,Low,None,None,Medium,Low,High,Low,None,High,None,High
2794,Augusta,Virginia,13,Low,None,Low,Medium,High,Low,Low,None,Medium,None,Medium
2795,Bath,Virginia,11,Low,None,None,Medium,High,Low,Low,None,Medium,None,Low
2796,Bedford County,Virginia,14,Low,None,Low,Medium,High,Medium,Low,None,Medium,None,Medium
2797,Bland,Virginia,11,Low,None,None,Medium,High,None,Low,None,High,None,Low
2798,Botetourt,Virginia,14,Low,None,Low,Medium,High,Medium,Low,None,Medium,None,Medium
2799,Bristol,Virginia,16,Low,None,High,Medium,High,None,Medium,None,Medium,None,High

In [378]:
print('hazzard: ' ,hazzard.shape)
print('census: ' ,census.shape)
print('health: ' ,health.shape)

hazzard:  (3108, 14)
census:  (3108, 92)
health:  (3108, 753)

In [376]:
health.drop(health.index[1794], inplace = True)
health.reset_index(drop= True, inplace = True)
health[1790:1799]

,County,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,"Colon/Rectal Srg, Total Ptn Cr","Ophthalmolgy, Total Patn Care","M.D.'s, Total Other_x",...,Nurse Practitioners w/NPI_y,"Skilled Nurs Care, Beds Set Up_y","Nurse Practitioners, Fmle w/NPI_y","Clin Nurs Specialist,Male w/NPI",# Nursing Facilities,"Cert Nurse Midwvs,FT Oth EmpTyp_y",Nursing Facilities Total Beds,Nurse Practitioners_y,"AdvPractNurs Midwve,Male w/NPI",st_num
1790,Taos County,20,35055,0.0,0.0,29.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35
1791,Torrance County,17,35057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35
1792,Union County,3,35059,0.0,0.0,1571.0,23.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35
1793,Valencia County,55,35061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35
1794,Albany County,1384,36001,0.0,0.0,-518.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36
1795,Allegany County,35,36003,0.0,0.0,527.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36
1796,Bronx County,40533,36005,0.0,0.0,-1630.0,14.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36
1797,Broome County,364,36007,0.0,0.0,-257.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36
1798,Cattaraugus County,59,36009,0.0,0.0,186.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36

In [377]:
health.shape

(3108, 753)