In [1]:
import requests
import pandas as pd
import json
import geopandas
import operator
from prettytable import PrettyTable
import time

import numpy as np
from bs4 import BeautifulSoup

In [2]:
url =('https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_county_population_usafacts.csv')
pop_county_data = pd.read_csv(url)
#pop_county_data.to_csv('pop_county_data.csv')
pop_county_data.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [3]:
pop_county_data.drop(columns = ['population'],inplace=True)

In [4]:
df_county = pop_county_data

In [5]:
df_new = df_county.drop(df_county[(df_county['County Name'] == 'Statewide Unallocated')].index)

#pop_county_data.drop(pop_county_data[(pop_county_data['County Name'] == 'Statewide Unallocated')])

In [6]:
url = 'https://covidtracking.com/api/v1/states/current.csv'
covid_cases_state = pd.read_csv(url)
covid_cases_state.to_csv('covid_cases_state.csv')

In [7]:
covid_cases_state.head()

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,notes,dataQualityGrade,...,checkTimeEt,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,hash
0,AK,378,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/09 16:20,10,NaN,26449,26449,26449,2,2020-05-09T04:00:00Z,2020-05-09T20:20:00Z,cdf91cc2c10883248e1636dd46a16edc3303ca81
1,AL,9567,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/09 16:17,388,1228.0,125494,125494,125494,1,2020-05-09T04:00:00Z,2020-05-09T20:17:00Z,dd4010dd331732223538189049978566a6065aa3
2,AR,3747,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/09 14:16,88,471.0,65528,65528,65528,5,2020-05-09T14:15:00Z,2020-05-09T18:16:00Z,6944d87035b6dd4905d3a5ec5cb90c4c6757b407
3,AZ,10960,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/09 15:03,532,1514.0,128940,128940,128940,4,2020-05-09T04:00:00Z,2020-05-09T19:03:00Z,cbd8abf972d8a061ace6cc6c6f03a609ba0eeba3
4,CA,64561,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/09 16:24,2678,NaN,912570,912570,912570,6,2020-05-09T18:00:00Z,2020-05-09T20:24:00Z,54d1c41f8b578a04b685d3125bcd45093d8d9ff0

In [8]:
url = 'https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv'
covid_county = pd.read_csv(url)
covid_county.to_csv('covid_county.csv')

In [9]:
df = covid_county
df.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,42,42,42,45,48,53,53,58,61,67
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,173,174,175,181,187,188,189,196,205,208
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,37,39,42,43,45,45,47,47,51,53
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,42,42,42,42,42,42,43,43,44,44

In [10]:
covid_county = df.drop(df[(df['County Name'] == 'Statewide Unallocated')].index)

In [12]:
covid_county['total_covid']  = df['5/8/20']

In [13]:
covid_county

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,total_covid
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,42,42,45,48,53,53,58,61,67,67
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,174,175,181,187,188,189,196,205,208,208
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,39,42,43,45,45,47,47,51,53,53
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,42,42,42,42,42,43,43,44,44,44
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,37,39,40,40,40,40,42,44,44,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,11,12,12,12,12
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,65,65,66,67,67,67,67,67,67,67
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,7,7
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df = pd.DataFrame(covid_county,columns = ['County Name','State','total_covid','countyFIPS'])
df.head()

      County Name State  total_covid  countyFIPS
1  Autauga County    AL           67        1001
2  Baldwin County    AL          208        1003
3  Barbour County    AL           53        1005
4     Bibb County    AL           44        1007
5   Blount County    AL           44        1009

In [15]:
zips = pd.read_csv('../../data/uszips.csv')
#zips.columns.str.replace(county_name)

In [16]:
zips.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [17]:
hospitals = pd.read_csv('../../data/Hospitals.csv')
hospitals.columns = hospitals.columns.str.replace('ZIP','zip')
hospitals.head()

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,(323) 462-2271,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [18]:
med = pd.merge(hospitals,zips,on='zip')
med.columns = med.columns.str.replace('county_name','County')
med.head(
)

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,population,density,county_fips,County,county_weights,Countys_all,county_fips_all,imprecise,military,timezone
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings,{'06031':100},Kings,06031,False,False,America/Los_Angeles
1,1915,193230,ADVENTIST MEDICAL CENTER,115 MALL DRIVE,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings,{'06031':100},Kings,06031,False,False,America/Los_Angeles
2,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,36062,709.0,6111,Ventura,"{'06037':3.37,'06111':96.63}",Ventura|Los Angeles,06111|06037,False,False,America/Los_Angeles
3,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles
4,2615,26590023,LOS ANGELES COMMUNITY HOSPITAL,4081 EAST OLYMPIC BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles

In [19]:
med['County'] = [i + " " + "County" for i in med['County']]

In [20]:
parishes = med.loc[med['STATE'] == 'LA']
parishes['County'] = parishes['County'] + ' Parish'
parishes['STATE'] = 'LA'
(med.loc[med['STATE'] == 'LA']) = parishes
med.head()

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,population,density,county_fips,County,county_weights,Countys_all,county_fips_all,imprecise,military,timezone
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings County,{'06031':100},Kings,06031,False,False,America/Los_Angeles
1,1915,193230,ADVENTIST MEDICAL CENTER,115 MALL DRIVE,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings County,{'06031':100},Kings,06031,False,False,America/Los_Angeles
2,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,36062,709.0,6111,Ventura County,"{'06037':3.37,'06111':96.63}",Ventura|Los Angeles,06111|06037,False,False,America/Los_Angeles
3,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles County,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles
4,2615,26590023,LOS ANGELES COMMUNITY HOSPITAL,4081 EAST OLYMPIC BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles County,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles

In [21]:
med_beds = med.groupby('County')['BEDS'].sum()
med_hospitals = (med.groupby('County')['NAME']).value_counts().groupby('County').sum()
len(med_hospitals)

1589

In [22]:
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [23]:
#counties.to_csv('counties.csv')
counties.drop(columns=['date'],inplace=True)

In [24]:
counties.columns = counties.columns.str.replace('county','County Name')

In [25]:
len(counties['County Name'].unique())

1710

In [26]:
#d = {'sum_cases': 'cases', 'sum_deaths': 'deaths'}
#df_new = counties.groupby('county', as_index=False).aggregate(d).reindex(columns=counties.columns)

grouped_counties_cases = counties.groupby('County Name')['cases'].sum()
grouped_counties_deaths = counties.groupby('County Name')['deaths'].sum()

In [27]:


county_cases = pd.merge(grouped_counties_cases,grouped_counties_deaths,on='County Name')
#county_cases.shape
df = pd.merge(df,county_cases,left_on='County Name',right_on = 'County Name',how='left')
#df.shape#df['County Name'].sort_values(ascending=True)

In [28]:
df.fillna(0, inplace=True)
df.columns = df.columns.str.replace('County Name','County')

In [29]:
df = pd.merge(df,med_beds,left_on='County',right_on = 'County',how='left')

In [30]:
df = pd.merge(df,med_hospitals,left_on='County',right_on = 'County',how='left')
df.head()

           County State  total_covid  countyFIPS  cases  deaths    BEDS  NAME
0  Autauga County    AL           67        1001    0.0     0.0    85.0   1.0
1  Baldwin County    AL          208        1003    0.0     0.0   538.0   5.0
2  Barbour County    AL           53        1005    0.0     0.0   146.0   2.0
3     Bibb County    AL           44        1007    0.0     0.0  1329.0   9.0
4   Blount County    AL           44        1009    0.0     0.0   511.0   3.0

In [31]:
df.columns = df.columns.str.replace('NAME','# hospitals')
df.columns = df.columns.str.replace('BEDS','hospital_beds')
df.head()

,County,State,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals
0,Autauga County,AL,67,1001,0.0,0.0,85.0,1.0
1,Baldwin County,AL,208,1003,0.0,0.0,538.0,5.0
2,Barbour County,AL,53,1005,0.0,0.0,146.0,2.0
3,Bibb County,AL,44,1007,0.0,0.0,1329.0,9.0
4,Blount County,AL,44,1009,0.0,0.0,511.0,3.0

In [32]:
t0 = time.time()
health_workers = pd.read_sas('/Users/aryehgelfand/Downloads/AHRF_2018-2019_SAS/ahrf2019.sas7bdat',encoding = "ISO-8859-1") # having First.csv zipped file.


print(time.time() - t0)

Warning: column count mismatch (153 + 895 != 7147)

23.13931703567505

In [33]:


#url = ('https://data.hrsa.gov//DataDownload/AHRF/AHRF_USER_TECH_2018-2019.zip')
#file  = 'AHRF 2018-2019 Technical Documentation.xlsx'


#df = pd.read_excel('/Users/aryehgelfand/Downloads/AHRF_USER_TECH_2018-2019/AHRF 2018-2019 Technical Documentation.xlsx',encoding='ISO-8859-1')

In [34]:
codes = pd.read_csv('../../data/health_resource.csv')

In [35]:
codes.dropna(inplace=True)
codes.drop(columns=['COL-COL'])

            FIELD YEAR OF DATA                     VARIABLE NAME
1      F00001                    Blank
2      F00002                    Header - FIPS St & Cty Code
3      F00003                    Entity of File
4      F00004                    Secondary Entity Of File
5      F00005                    Date of File
...           ...          ...                               ...
8001   F15338-09          2009   Days w/8-hr Avg Ozone ovr NAAQS
8002   F15338-08          2008   Days w/8-hr Avg Ozone ovr NAAQS
8003   F15338-07          2007   Days w/8-hr Avg Ozone ovr NAAQS
8004   F15338-06          2006   Days w/8-hr Avg Ozone ovr NAAQS
8005   F00811-76          1976   Elevation Feet

[7315 rows x 3 columns]

In [36]:
codes['FIELD'] = codes['FIELD'].str.replace('F','f')

In [37]:
#codes.columns = codes.columns.str.strip()
codes.head()

         FIELD        COL-COL YEAR OF DATA                     VARIABLE NAME
1   f00001       00001-00001                 Blank
2   f00002       00002-00006                 Header - FIPS St & Cty Code
3   f00003       00007-00011                 Entity of File
4   f00004       00012-00031                 Secondary Entity Of File
5   f00005       00032-00035                 Date of File

In [38]:
codes_dict_keys = {i.strip() for i in codes['FIELD']}
codes_dict_values = {i.strip() for i in codes['VARIABLE NAME']}

In [39]:
codes_dict = dict(zip(codes_dict_keys,codes_dict_values))
codes_dict_keys = {key.replace('-',''): key for key in codes_dict.keys()}
codes_dict = dict(zip(codes_dict_keys,codes_dict_values))

In [40]:
health_workers.columns = health_workers.columns.map(codes_dict)

In [41]:
health_workers.head()

,NaN,NaN,Pop Nat Hawai/Oth PI Male 30-34,NaN,Pers <19 without Health Ins,NaN,Marketplace Enrollees Male,NaN,NaN,"# Wh HHlds w/Income < $10,000",...,NaN,# Hosp W/Sleep Center,"Ophthalmolgy, PC, Hosp Resdnts",NaN,Oth Race Unmplyd Civil Lab Frce,"# STNG/LT Hosps,006-049 Beds",NaN,# Households w/2 Persons,"Nuclear Med, PC, Hosp FT Staff",Pop Am Ind/Alska Nat Male 25-29
0,NaN,01001,AHRF,01001,2019,19212.0,31661.0,Alabama,AL,Autauga,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,NaN,01003,AHRF,01003,2019,19212.0,31661.0,Alabama,AL,Baldwin,...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0
2,NaN,01005,AHRF,01005,2019,19212.0,31661.0,Alabama,AL,Barbour,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,220.0
3,NaN,01007,AHRF,01007,2019,19212.0,31661.0,Alabama,AL,Bibb,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,12.0,7.0,224.0
4,NaN,01009,AHRF,01009,2019,19212.0,31661.0,Alabama,AL,Blount,...,0.0,0.0,2.0,1.0,1.0,0.0,4.0,10.0,7.0,870.0

In [42]:
health_workers.columns.values[8] = "State"

In [43]:
health_workers.columns.values[9] = "County"

In [44]:
health_workers.head()

,NaN,NaN,Pop Nat Hawai/Oth PI Male 30-34,NaN,Pers <19 without Health Ins,NaN,Marketplace Enrollees Male,NaN,State,County,...,NaN,# Hosp W/Sleep Center,"Ophthalmolgy, PC, Hosp Resdnts",NaN,Oth Race Unmplyd Civil Lab Frce,"# STNG/LT Hosps,006-049 Beds",NaN,# Households w/2 Persons,"Nuclear Med, PC, Hosp FT Staff",Pop Am Ind/Alska Nat Male 25-29
0,NaN,01001,AHRF,01001,2019,19212.0,31661.0,Alabama,AL,Autauga,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,NaN,01003,AHRF,01003,2019,19212.0,31661.0,Alabama,AL,Baldwin,...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0
2,NaN,01005,AHRF,01005,2019,19212.0,31661.0,Alabama,AL,Barbour,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,220.0
3,NaN,01007,AHRF,01007,2019,19212.0,31661.0,Alabama,AL,Bibb,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,12.0,7.0,224.0
4,NaN,01009,AHRF,01009,2019,19212.0,31661.0,Alabama,AL,Blount,...,0.0,0.0,2.0,1.0,1.0,0.0,4.0,10.0,7.0,870.0

In [45]:
health_workers =  health_workers.loc[:, health_workers.columns.notnull()]

In [46]:
df.head()

,County,State,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals
0,Autauga County,AL,67,1001,0.0,0.0,85.0,1.0
1,Baldwin County,AL,208,1003,0.0,0.0,538.0,5.0
2,Barbour County,AL,53,1005,0.0,0.0,146.0,2.0
3,Bibb County,AL,44,1007,0.0,0.0,1329.0,9.0
4,Blount County,AL,44,1009,0.0,0.0,511.0,3.0

In [47]:
df = pd.merge(df,health_workers,left_on='County',right_on = 'County',how='left')

In [48]:
df.fillna(0,inplace=True)

In [49]:
df[df['State_x']=="NY"]

,County,State_x,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,Pop Nat Hawai/Oth PI Male 30-34,Pers <19 without Health Ins,...,"Radiology, Total Patient Care",Pop Black/African Am Fmle 10-14,Hisp/Latino Civil Labor Force,# Hosp W/Sleep Center,"Ophthalmolgy, PC, Hosp Resdnts",Oth Race Unmplyd Civil Lab Frce,"# STNG/LT Hosps,006-049 Beds",# Households w/2 Persons,"Nuclear Med, PC, Hosp FT Staff",Pop Am Ind/Alska Nat Male 25-29
1860,New York City Unallocated/Probable,NY,0,1,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1861,Albany County,NY,1384,36001,0.0,0.0,-518.0,8.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1862,Allegany County,NY,35,36003,0.0,0.0,527.0,4.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1863,Bronx County,NY,40533,36005,0.0,0.0,-1630.0,14.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1864,Broome County,NY,364,36007,0.0,0.0,-257.0,4.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,Washington County,NY,201,36115,0.0,0.0,774.0,63.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1919,Wayne County,NY,79,36117,0.0,0.0,5214.0,43.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1920,Westchester County,NY,30905,36119,0.0,0.0,2213.0,17.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1921,Wyoming County,NY,73,36121,0.0,0.0,110.0,2.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1922,Yates County,NY,20,36123,0.0,0.0,25.0,1.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0